#contact-info-container {

  margin-top: 2.5em;
  border-radius: 20px;
  background: linear-gradient(to right, #84c5b0, #e5e5c5);
  box-shadow: 0px -25px 5px -20px #c7e8db,
    25px 0px 20px -20px #e5e5c5,
    0px 25px 20px -20px rgba(0, 0, 0, 0.35),
    -25px 0px 20px -20px #84c5b0;

  .section-title {

    background-image: url('../src/assets/images/contact-info-paper.png'),
      url('../src/assets/images/stack-of-books.png'),
        url('../src/assets/images/training1.png'),
        url('../src/assets/images/tutoring1.png'),
        url('../src/assets/images/male-teacher2.png'),
        url('../src/assets/images/male-teacher1.png'),
        url('../src/assets/images/female-teacher1.png'),
        url('../src/assets/images/female-teacher2.png'),
        url('../src/assets/images/tutoring2.png'),
        url('../src/assets/images/training2.png'),
        url('../src/assets/images/books.png'),
      url('../src/assets/images/acornBanner2.png');
    background-repeat:no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, space repeat;
    background-position: top -0.5em left 50%, 
      left 2% bottom 10%,
      left 11% bottom 10%,
      left 20% bottom 10%,
      left 29% bottom 10%,
      left 38% bottom 10%,
      right 38% bottom 10%,
      right 29% bottom 10%,
      right 20% bottom 10%,
      right 11% bottom 10%,
      right 2% bottom 10%;
    background-size: 8.5em, 3.7em, 3.5em, 4em, 4em, 4em, 4em, 4em, 3.6em,   3.7em, 4em, 4em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 3.2em;
    height: 4.5em;
    user-select: none;
    -webkit-user-select: none;

    .eng {
      font-weight: bold;
    }

    .chn {
      font-weight: 900;
    }

  }
  
  .contact-info-content {

    padding: 1em 1em 1.5em 1em;
    display: grid;
    grid-template-columns: 50% 50%;

    .in-person-contact {

      font-size: 20px;
      padding: 0.25em 0.25em 0 0.25em;

      .address-container {

        display: flex;
        justify-content: flex-start;  

        .address-icon {

          width: 2em;
          margin-right: 1em;
          display: flex;
          align-items: center;
          animation-name: locationIconPointingDown;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          -webkit-user-select: none;
          user-select: none;

          img {
            width: inherit;
          }

        }

        @keyframes locationIconPointingDown {
          0% {
            transform: scaleX(1.25) scaleY(1.25);
          }

          100% {
           transform: scaleX(1);
          }
        }

        .address {

          .eng {
            margin-bottom: 0.5em;
          }

        }

      }

      .google-map-container {
        
        width: 100%;
        height: 91%;
        margin-top: 0.75em;

        iframe {
          width: inherit;
          height: inherit;
          border-radius: 20px;
        }

      }

    }

    .online-contacts {

      margin-left: 1em;
      background-color: #EDF6E3;
      border-radius: 20px;
      box-shadow: 0px -15px 20px -20px #EDF6E3,
          15px 0px 30px -20px #EDF6E3,
          0px 15px 30px -20px #EDF6E3,
          -15px 0px 30px -20px #EDF6E3;

      .subtitle {

        font-size: 20px;
        text-align: center;     
        padding: 0.5em;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        height: 4em;

        .arrows-on-the-left, .arrows-on-the-right {

          display: grid;
          grid-template-columns: auto auto;
          padding-top: 0.5em;
          width: 3em;
          user-select: none;
          -webkit-user-select: none;

          .arrow {
            width: inherit;
            animation-name: upAndDown;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }

          @keyframes upAndDown {
            0% {
              padding-top: 0.5em;
            }

            100% {
              padding-top: 0;
            }
          }

        }
    
        .main-text {

          padding-top: 0.5em;

          .eng {
            font-weight: bold;
            line-height: 1.5em;
          }
      
          .chn {
            font-weight: 900;
          }

        }
    
      }

      .tel, .email, .wechat-qr-code {

        font-size: 20px;
        color: black;
        padding: 0.5em 1em;

      }

      .tel, .email {

        display: grid;
        grid-template-columns: auto auto;

        a {

          width: fit-content;
  
          text-decoration: none;
  
          .fa-phone, .fa-envelope {
            color: #50aa8d;
            font-size: 22px;
          }
  
          .contact-text {
            color: black;
            margin-left: 0.5em;
          }
  
        }
  
        a:hover {
          text-decoration: underline;
          text-decoration-color: #50aa8d;
          text-underline-offset: 3px;
        }

      }

      .wechat-qr-code {

        .wechat-icon {

          .fa-weixin {
            color: #50aa8d;
            font-size: 22px;
          }

        }

        span:nth-child(2) {
          margin-left: 0.1em;
          margin-right: 0.5em;
        }

        .qr-code-container {

          display: flex;
          align-items: center;

          .qr-code-image {
  
            margin-top: 0.5em;
            width: 6em;
  
            img {
              width: inherit;
            }
  
          }

          .welcoming-message {

            text-align: justify;

            .eng {
              margin-bottom: 0.75em;
              line-height: 1.1em;
            }

          }

        }

      }

      .welcoming-message {

        color: #666666;
        -webkit-user-select: none;
        user-select: none;
        font-size: 18px;
        margin-left: 1em;

        span:first-child {
          margin-right: 1em;
        }
        
      }

    }

  }

}