#enrollment-container {

  margin-top: 2.5em;
  border-radius: 20px;
  background: linear-gradient(to right, #69b89f, #d9d9aa);
  box-shadow: 0px -25px 5px -20px #c7e8db,
    25px 0px 20px -20px #e5e5c5,
    0px 25px 20px -20px rgba(0, 0, 0, 0.35),
    -25px 0px 20px -20px #84c5b0;
  
  .enrollment-content {
    
    div {
      width: fit-content;
      margin: auto auto;
      letter-spacing: 0.2em;
      word-spacing: 1em;
      line-height: 1.5em;
    }

  }

}