#attribution, #copyright {
  text-align: center;
}

#attribution {
  margin-bottom: 0.5em;

  a {
    color: #388448;    
  }
}

#copyright {
  margin-bottom: 2em;

  span:last-child {
    white-space: nowrap;
  }
}