html {
  scroll-behavior: auto;
  scroll-padding-top: 8em;
}

body {
  background: #def1e2;
}

main {
  .section-title {
    text-align: center;

    .eng {
      font-size: 20px;
    }

    .chn {
      font-size: 20px;
    }
  }
}

.blurred {
  filter: blur(3px);
  transition: filter 0.1s ease-in-out;
}

// Mobile View
@media (max-width: 600px) {
  main {
    padding: 2em;
  }
}

// Tablet/Laptop View
@media (min-width: 601px) and (max-width: 1500px) {
  main {
    padding: 2em 4em;
  }
}

// Large Screen Desktop/Laptop View
@media (width > 1500px) {
  main {
    padding: 2em 10em;
  }
}

.eng {
  font-family: "Open Sans", sans-serif;
}

.chn {
  font-family: "Noto Sans SC", sans-serif;
}
