#programs-container {

  margin-top: 2.5em;
  border-radius: 20px;
  background: linear-gradient(to right, #84c5b0, #e5e5c5);
  box-shadow: 0px -25px 5px -20px #c7e8db,
    25px 0px 20px -20px #e5e5c5,
    0px 25px 20px -20px rgba(0, 0, 0, 0.35),
    -25px 0px 20px -20px #84c5b0;
  
  .section-title {

    background-image: url('../src/assets/images/programs-paper.png'),
      url('../src/assets/images/acornBanner2.png');
    background-repeat: no-repeat, space repeat;
    background-position: left 50% top 0.25em;
    background-size: 8em, 4em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 3em;
    height: 5em;
    user-select: none;
    -webkit-user-select: none;

    .eng {
      font-weight: bold;
      margin-bottom: 0.2em;
    }

    .chn {
      font-weight: 900;
    }

  }

  .programs-content {
    
    padding: 1em;
    font-size: 20px;

    .enrollment-target, .class-schedule {
      background-color: #EDF6E3;
      box-shadow: 0px -15px 20px -20px #EDF6E3,
          15px 0px 30px -20px #EDF6E3,
          0px 15px 30px -20px #EDF6E3,
          -15px 0px 30px -20px #EDF6E3;
      border-radius: 20px;
      margin-bottom: 0.5em;
      display: flex;
      justify-content: space-around;
    }

    .enrollment-target {
      
      padding-top: 0.5em;
      padding-bottom: 0.2em;

      .target-text {

        text-align: center;

        .eng, .chn {
          line-height: 1.3em;
        }

        .eng {
          font-weight: 500;
        }

      }

    }

    .class-schedule {

      padding-top: 0.5em;
      line-height: 1.3em;
      text-align: center;

      .schedule-time {
        
        .eng, .chn {
          font-weight: 500;
        }

      }

    }

    .grade-title, .schedule-title {
      font-weight: bold;
      margin-right: 3em;
      display: flex;
    }

    .grade-title {
      align-items: center;
    }

    .grade-container, .calendar-container {
      width: 3em;
      margin-right: 0.5em;
    }

    .school-img, .calendar-img {
      width: inherit;
    }

    .highlight {
      font-weight: bold;
      color: #2f6d5a;
    }

  }

}