#programs-container {

  margin-top: 2.5em;
  border-radius: 20px;
  background: linear-gradient(to right, #84c5b0, #e5e5c5);
  box-shadow: 0px -25px 5px -20px #c7e8db,
    25px 0px 20px -20px #e5e5c5,
    0px 25px 20px -20px rgba(0, 0, 0, 0.35),
    -25px 0px 20px -20px #84c5b0;
  
  .section-title {

    background-image: url('../src/assets/images/programs-paper.png'),
      url('../src/assets/images/acornBanner2.png');
    background-repeat: no-repeat, space repeat;
    background-position: left 50% top 0.25em;
    background-size: 8em, 4em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 3em;
    height: 5em;
    user-select: none;
    -webkit-user-select: none;

    .eng {
      font-weight: bold;
      margin-bottom: 0.2em;
    }

    .chn {
      font-weight: 900;
    }

  }

  .programs-content {
    
    padding: 1em;
    font-size: 20px;

    .grade-schedule-container {

      display: flex;
      justify-content: space-evenly;

      .grade-container {

        .grade-text {
          line-height: 1.3em;
          text-align: center;
        }

      }

      .schedule-container {
  
        .schedule-text {
  
          display: flex;
          justify-content: space-evenly;
          text-align: center;
          line-height: 1.3em;
  
          .weekday-schedule, .saturday-schedule {
            padding-left: 1em;
            padding-right: 1em;
          }
  
        }
  
      }

      .grade-container, .schedule-container {
        padding: 0.5em;
        background-color: #EDF6E3;
        border-radius: 20px;
        box-shadow: 0px -15px 20px -20px #EDF6E3,
            15px 0px 30px -20px #EDF6E3,
            0px 15px 30px -20px #EDF6E3,
            -15px 0px 30px -20px #EDF6E3;
        flex-grow: 1;
      }

      .grade-container {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .schedule-container {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 10px dotted #c0c0c0;
      }

    }

    .grade-title, .schedule-title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title-text {
      font-weight: bold;
      text-align: center;
      margin-left: 0.5em;
      line-height: 1.2em;
    }

    .grade-icon-container, .schedule-icon-container {
      width: 4em;
    }

    .grade-icon, .schedule-icon {
      width: inherit;
    }

    .highlight {
      font-weight: bold;
      color: #2f6d5a;
    }

  }

}